<h1 style="background-color: yellow;">List all the things</h1>
<p class='text-center'>
    <img alt="List all the things" src="http://i.qkme.me/3vctmh.jpg">
</p>
<div class="row">
    <div class='col-lg-3'>
        <h2><a href='/fruit'>Fruit</a></h2>
    </div>
    <div class='col-lg-3'>
        <h2><a href='/oldest_dogs'>Oldest dogs</a></h2>
    </div>
    <div class='col-lg-3'>
        <h2><a href='/countries'>Countries</a></h2>
    </div>
    <div class='col-lg-3'>
        <h2><a href='/simpsons'>Simpsons</a></h2>
    </div>
</div>
