<h1>List of oldest dogs</h1>

<ul>
    <% @dogs.each do |dogs| %>
        <li><%= dogs %></li>
    <% end %>
</ul>




<p>For more info see <a href="http://en.wikipedia.org/wiki/List_of_oldest_dogs">here</a>.</p>
